.gdb_history
*.[oa]
*.gcda
*.gcno
*.gcov
*.dylib
*~
.DS_Store
pkgIndex.tcl
Makefile
autom4te.cache
config.*
callgrind.out.*
test.log
doc/junk.junk
*.dSYM
*.plist
*-xotcl.html
*-tcl.html
xo-*.html
xotclsh
CVS
nsfConfig.sh
nxsh
nxwish
library/xotcl/xowish
library/xotcl/doc/junk.junk

