body {
    font-size: 13px !important;
    /*prince-linebreak-magic: auto;*/
}

pre.example {
    font-size: 80% !important;
    white-space: pre-wrap !important;
}

ul.syntax {
    margin-left: 0 !important;
    padding-left: 0 !important; 
}

ul.syntax li {
    text-indent: 1em hanging !important;
}

h2 { string-set: chapter-title content() } 

@page {
    size: A4;
    /* DIV 15 for A4 paper */
    margin: 19.80mm 14mm;

    @top {
	font-family: "Arial","Verdana", sans-serif;
	color: #666;
	font-size: 80%;
	content: string(chapter-title) 
    }
    @bottom {
	font-family: "Arial","Verdana", sans-serif;
	font-size: 80%;
	color: #666;
        content: "-  " counter(page) "  -"
    }
}

@page:first { 
   @top { content: normal }
}





