body            {font-size: 10pt; text-align: justify;}
.nx             {font-size: 65%; color: #000000; font-weight: normal; font-style: normal; padding-left: 10px}
table.nx        {border-collapse: collapse; border-spacing: 3px;}
.nx-linenr      {font-size: 65%; border-right: 1px solid #DDDDDD;padding-right: 5px; color: #2B547D; font-style: italic;}
.nx-string      {color: #779977; font-weight: normal; font-style: italic;}
.nx-comment     {color: #717ab3; font-weight: normal; font-style: italic;}
.nx-keyword     {color: #7f0055; font-weight: normal; font-style: normal;}
.nx-placeholder {color: #AF663F; font-weight: normal; font-style: italic;}
.nx-variable    {color: #AF663F; font-weight: normal; font-style: normal;}
.listingblock   {font-size: 65%;}

div.toclevel1   {display: block;}
div.toclevel2   {display: block;}
div.toclevel3   {display: block;}
div.toclevel4   {display: block;}

@page {
    @top { 
	color: #717ab3;font-style: italic;
	font-size: 80%;
	content: string(chapter-title) 
    }
    @bottom {
	font-size: 80%;
	color: #717ab3;
        content: "-  " counter(page) "  -"
    }
}
h2 { string-set: chapter-title content() }