@media print {

body            {font-size: 10pt; text-align: justify;}
#header         {text-align: left;}
.nx             {font-size: 90%; color: #000000; font-weight: normal; font-style: normal; padding-left: 10px}
table.nx        {border-collapse: collapse; border-spacing: 3px;}
.nx-linenr      {font-size: 90%; border-right: 1px solid #DDDDDD;padding-right: 5px; color: #2B547D; font-style: italic;}
.nx-string      {color: #779977; font-weight: normal; font-style: italic;}
.nx-comment     {color: #717ab3; font-weight: normal; font-style: italic;}
.nx-keyword     {color: #7f0055; font-weight: normal; font-style: normal;}
.nx-placeholder {color: #AF663F; font-weight: normal; font-style: italic;}
.nx-variable    {color: #AF663F; font-weight: normal; font-style: normal;}

.listingblock   {font-size: 80%;}
div.toclevel1   {display: block;}
div.toclevel2   {display: block;}
div.toclevel3   {display: block;}
div.toclevel4   {display: block;}

div.tableblock table {
    page-break-inside: avoid;
}

div.listingblock pre {
    page-break-inside: avoid;
}

}

@page {
    size: A4;
     /* DIV 15 for A4 paper */
    margin: 19.80mm 14mm;

    /* Not supported by Chrome, kept for later reference */
    @top-center { 
	color: #717ab3;font-style: italic;
	font-size: 80%;
	content: string(chapter-title) 
    }
    @bottom-center {
	font-size: 80%;
	color: #717ab3;
        content: "-  " counter(page) "  -"
    }
}
h2 { string-set: chapter-title content() }
